*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background:url('watch3.jpg')no-repeat;
    background-size:cover;
    height:100%;
    background-attachment:fixed;
    background-position:top center;
}
.home button{
    padding:2px;
    width:70px;
    height:35px;
    margin:3px;
    color:indigo;
    transition:0.5s ease-in-out, transform 0.5s;
    font-size:20px;
    border-radius:8px;
}
.watch{
    margin:30px;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    text-align:center;
}
img{
    padding-top:2%;
    width:280px;
    height:280px;
    border:lightseagreen;
    border-radius:100%;
    transition:0.5s;
}
img:hover{
    transform: scale(1.1);
}
.time{
    padding-top:20px;
    font-size:60px;
    font-family:"Lucida Console", "Courier New", monospace;;
    color:indigo;
}
button{
    width:60px;
    height:35px;
    margin:2px;
    color:indigo;
    background-color:rgb(138, 166, 202);
    transition:0.2s ease-in-out, transform 0.2s;
    font-size:20px;
    border-radius:6px;
}
button:hover{
    background-color:rgb(51, 71, 96);
    color:white;
    border-radius:6px;
}