* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background:url('we1.jpg')no-repeat;
    background-position:top center;
    background-attachment:fixed;
    height:100%;
    background-size:cover;
}
.hamburger-menu {
    width:0;
    height:0;
    top: 0;
    left: 0;
    position:fixed;
     border-bottom-right-radius: 100%; 
}
.hamburger-menu.open {
    width:100%;
    height:100vh;
    border-bottom-right-radius: 0;
}
.hamburger-menu.close {
    width:0;
    height:0;
    border-bottom-left-radius: 100%;
}
.menu-list {
    display:none;
    align-items:center;
    justify-content:center;
    padding-top:200px;
}
.menu-list ul li {
    list-style:none;
    margin:20px;
    text-align:center;
    text-transform:uppercase;
}
.menu-list ul li a {
    display:inline-block;
    color:green;
    font-size:100px ;
    font-size:x-large;
    font-family:monospace;
    position:relative;
    font-weight:bolder;
    font-style:initial;
    transition:transform 0.25s;
}
.menu-list ul li a:hover {
    transform: translateY(5px);
}